<?xml version="1.0"?>
<robot name="myfirst">

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  <link name="base_link">
    <visual>
      <geometry>
        <box size = "0.4878 0.8382 0.0381"/>
      </geometry>
    </visual>
    <collision>
        <geometry>
        <box size = "0.4878 0.8382 0.0381"/>    
        </geometry>
    </collision>
  </link>

  <link name="link_rotate1">
    <visual>
      <geometry>
        <box size = "0.4878 0.8382 0.0381"/>
      </geometry>
      <origin rpy = "0 0 2.094"/>
    </visual>
    <collision>
        <geometry>
        <box size = "0.4878 0.8382 0.0381"/>    
        </geometry>
    </collision>
  </link>

  <link name="link_rotate2">
    <visual>
      <geometry>
        <box size = "0.4878 0.8382 0.0381"/>
      </geometry>
      <origin rpy = "0 0 -2.094"/>
    </visual>
    <collision>
        <geometry>
        <box size = "0.4878 0.8382 0.0381"/>    
        </geometry>
    </collision>
  </link>

  <joint name = "base_to_rotate_1" type = "fixed">
    <parent link = "base_link"/>
    <child link = "link_rotate1"/>
    <origin xyz = "0 0 0"/>
  </joint>

  <joint name = "base_to_rotate_2" type = "fixed">
    <parent link = "base_link"/>
    <child link = "link_rotate2"/>
    <origin xyz = "0 0 0"/>
  </joint>

  <link name ="wheel_left">
    <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </visual>
    <collision>
    <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>
        <inertial>
    <mass value="1" />
      <!-- <inertia ixx="100" ixy="0.0" ixz="0.0" iyy="100" iyz="0.0" izz="100" /> -->
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />

    </inertial>
       <gazebo reference="wheel_left">
      <mu1 value="400.0"/>
      <mu2 value="200.0"/>
      <kp value="20" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>  
  </link>

    <link name ="wheel_right">
    <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </visual>
    <collision>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>
        <inertial>
    <mass value="1" />
      <!-- <inertia ixx="100" ixy="0.0" ixz="0.0" iyy="100" iyz="0.0" izz="100" /> -->
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />

    </inertial>
       <gazebo reference="wheel_right">
      <mu1 value="400.0"/>
      <mu2 value="200.0"/>
      <kp value="20" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>  
  </link>


  <link name ="c_front">
    <visual>
        <geometry>
            <sphere radius = "0.127" length = "0.0889"/>
        </geometry>
    </visual>
    <collision>
      <geometry>
          <sphere radius = "0.127" length = "0.0889"/>
      </geometry>
    </collision>
    <inertial>
    <mass value="1" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
       <gazebo reference="c_front">
      <mu1 value="1.0"/>
      <mu2 value="1.0"/>
      <kp value="10.0" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>  
  </link>

  <link name ="c_back">
    <visual>
        <geometry>
            <sphere radius = "0.127" length = "0.0889"/>
        </geometry>
    </visual>
    <collision>
        <geometry>
            <sphere radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>  
        <inertial>
    <mass value="1" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
       <gazebo reference="c_back">
      <mu1 value="1.0"/>
      <mu2 value="1.0"/>
      <kp value="10.0" />
      <kd value="1.0" />
      <material>Gazebo/Grey</material>
    </gazebo>  
  </link>

  <!-- <link name="camera_link">
    <collision>
      <geometry>
    <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
    <box size="0.05 0.05 0.05"/>
      </geometry>
      
    </visual>

    <inertial>
      <mass value=".1" />
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <inertia ixx=".1" ixy="0" ixz="0" iyy=".1" iyz="0" izz=".1" />
    </inertial>
  </link> -->
  
<!-- 
  <gazebo reference="camera_link">
    <sensor type="camera" name="camera1">
            <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1].
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rrbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo> -->

<!-- <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0 0 .1" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint> -->

<joint name = "joint_c_front" type = "fixed">
  <axis xyz = "0 1 0"/>
  <parent link = "base_link"/>
  <child link = "c_front"/>
  <origin xyz = "0.3175 0 0" rpy = "1.5708 0 0"/>
</joint>

<transmission name="body_to_wheel1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="$body_to_wheel1_actuator">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="joint_c_front">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>    </joint>
  </transmission>

<joint name = "joint_c_back" type = "fixed">
  <axis xyz = "0 1 0"/>
  <parent link = "base_link"/>
  <child link = "c_back"/>
  <origin xyz = "-0.3175 0 0" rpy = "1.5708 0 0"/>
</joint>

<transmission name="body_to_wheel2_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="$body_to_wheel2_actuator">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="joint_c_back">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>    </joint>
  </transmission>


<joint name = "w_left" type = "fixed">
    <parent link = "base_link"/>
    <child link = "wheel_left"/>
    <origin xyz = "0 -0.3175 0" rpy = "1.5708 0 0"/>
    <!-- <axis xyz = "0 0 1"/> -->
</joint>

<!-- <transmission name="body_to_wheel3_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="$body_to_wheel3_actuator">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="w_left">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>    </joint>
  </transmission> -->


<joint name = "w_right" type = "fixed">
    <parent link = "base_link"/>
    <child link = "wheel_right"/>
    <origin xyz = "0 0.3175 0" rpy = "1.5708 0 0"/>
    <!-- <axis xyz = "0 0 1"/> -->
</joint>

<!-- <transmission name="body_to_wheel4_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="$body_to_wheel4_actuator">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="w_right">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>    </joint>
  </transmission> -->


</robot>



