<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myfirst">

  <link name="base_link">
    <visual>
      <geometry>
        <box size = "0.4878 0.8382 0.0381"/>
      </geometry>
    </visual>
    <collision>
        <geometry>
        <box size = "0.4878 0.8382 0.0381"/>    
        </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <link name="link_rotate1">
    <visual>
      <geometry>
        <box size = "0.4878 0.8382 0.0381"/>
      </geometry>
      <origin rpy = "0 0 2.094"/>
    </visual>
    <collision>
        <geometry>
        <box size = "0.4878 0.8382 0.0381"/>    
        </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <link name="link_rotate2">
    <visual>
      <geometry>
        <box size = "0.4878 0.8382 0.0381"/>
      </geometry>
      <origin rpy = "0 0 -2.094"/>
    </visual>
    <collision>
        <geometry>
        <box size = "0.4878 0.8382 0.0381"/>    
        </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <joint name = "base_to_rotate_1" type = "fixed">
    <parent link = "base_link"/>
    <child link = "link_rotate1"/>
    <origin xyz = "0 0 0"/>
  </joint>

  <joint name = "base_to_rotate_2" type = "fixed">
    <parent link = "base_link"/>
    <child link = "link_rotate2"/>
    <origin xyz = "0 0 0"/>
  </joint>

  <link name ="wheel_left">
    <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
        <origin xyz = "0 -0.3175 0" rpy = "1.5708 0 0"/>
    </visual>
    <collision>
    <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

    <link name ="wheel_right">
    <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
        <origin xyz = "0 0.3175 0" rpy = "1.5708 0 0"/>
    </visual>
    <collision>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <link name ="c_front">
    <!-- <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
        <origin xyz = "0.0 0 0" rpy = "1.5708 0 0"/>      
    </visual>
    <collision>
    <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision> -->
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <link name ="c_back">
    <!-- <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
        <origin xyz = "0 0 0" rpy = "1.5708 0 0"/>
    </visual>
    <collision>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>   -->
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

<link name ="c_front_2">
    <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
        <origin xyz = "0 0 0" rpy = "1.5708 0 0"/>
    </visual>
    <collision>
    <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <link name ="c_back_2">
    <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
        <origin xyz = "0 0 0" rpy = "1.5708 0 0"/>
    </visual>
    <collision>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>  
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

<link name ="c_connect_front">
    <visual>
        <geometry>
            <cylinder radius = "0.0" length = "0.0"/>
        </geometry>
        <origin xyz = "0.0 0 0" rpy = "1.5708 0 0"/>      
    </visual>
    <collision>
    <geometry>
            <cylinder radius = "0" length = "0"/>
        </geometry>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

<joint name = "connect_c_front_joint" type = "fixed">
  <parent link = "base_link"/>
  <child link = "c_connect_front"/>
  <origin xyz = "0.3175 0 -0.0254"/>
</joint>

<joint name = "joint_c_front" type = "continuous">
  <parent link = "c_connect_front"/>
  <child link = "c_front"/>
  <origin xyz = "0.0 0 0"/>
  <axis xyz = "0 1 0"/>
</joint>

 <link name ="c_connect_back">
    <visual>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
        <origin xyz = "0 0 0" rpy = "1.5708 0 0"/>
    </visual>
    <collision>
        <geometry>
            <cylinder radius = "0.127" length = "0.0889"/>
        </geometry>
    </collision>  
    <inertial>
      <mass value="10"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

<joint name = "joint_c_back_connect" type = "fixed"> 
  <parent link = "base_link"/>
  <child link = "c_connect_back"/>
  <origin xyz = "-0.3175 0 -0.0254"/>
  <axis xyz = "0 1 0"/>
</joint> 

<joint name = "joint_c_back" type = "continuous"> 
  <parent link = "c_connect_back"/>
  <child link = "c_back"/>
  <origin xyz = "0 0 0"/>
  <axis xyz = "0 1 0"/>
</joint>


<joint name = "joint_c_front_2" type = "continuous">
  <parent link = "c_connect_front"/>
  <child link = "c_front_2"/>
  <origin xyz = "0 0 0"/>
  <axis xyz = "0 0 1"/>
</joint>

<joint name = "joint_c_back_2" type = "continuous">   
  <parent link = "c_connect_back"/>
  <child link = "c_back_2"/>
  <origin xyz = "0 0 0"/>
  <axis xyz = "0 0 1"/>
</joint>


<joint name = "w_left" type = "continuous">
    <parent link = "base_link"/>
    <child link = "wheel_left"/>
    <origin xyz = "0 0 -0.0254"/>
    <axis xyz = "0 1 0"/>
</joint>

<joint name = "w_right" type = "continuous">
    <parent link = "base_link"/>
    <child link = "wheel_right"/>
    <origin xyz = "0 0 -0.0254"/>
    <axis xyz = "0 1 0"/>
</joint>

  <!-- This block connects the head_swivel joint to an actuator (motor), which informs both -->

  <transmission name="front_joint_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="$front_joint_transmission">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="joint_c_front">
      <hardwareInterface>PositionJointInterface</hardwareInterface>
    </joint>
  </transmission>

  
 <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

</robot>



